body{
    background-image: url(../resources/images/marmol_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mBrown{
    background-color: #664638;
}

.tBrown{
    background-color: #897759;
}

nav{
    height: 70px;
}

#restaurantLogo{
    width: 50px;
    height: 45px;
    border-radius: 10px;
    margin-left: 10px;
}

#navTabs a{
    transition-delay: 0.1s;
    transition-duration: 0.4s;
    transition-property: all;
}

#navTabs a:hover{
    background-color: #897759;
}

#userTabs a{
    transition-delay: 0.1s;
    transition-duration: 0.4s;
    transition-property: all;
}

#userTabs a:hover{
    background-color: #897759;
}

#userLogin{
    width: 40px;
    height: 35px;
}

#shopCart{
    width: 40px;
    height: 35px;
}

/*main content*/

.content{
    margin: 15px 0px 15px 0px;
    font-size: 15pt;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_text{
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #92400E;
    text-shadow: 1px 1px 3.5px white;
}

.cart_confirm,
.purchase{
    padding: 5px;
}

.cart_confirm{
    width: 90%;
    margin: auto;
    background-color: white;
}

.sub_content{
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 15px 45px;
}

th{
    font-weight: 500;
}

th:first-child, td:first-child{
    text-align: justify;
}

td:last-child{
    color: #92400E;
}

.purchase{
    float: right;
    width: 30%;
    margin: 10px;
    text-align: center;
}

.purchase form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.purchase form section{
    padding: 10px;
}

.purchase form section:nth-child(2){
    border-bottom: 2px solid #A9A9A9;
}

.purchase form section:nth-child(2) label{
    font-weight: 500;
    color: #92400E;
}

.button{
    background-color:#664638 !important;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    font-size: 19px;
    border-width: 4px;
    border-color: #664638;
    cursor: pointer;

    transition-delay: 0.15s;
    transition-duration: 0.4s;
    transition-property: all;   
}

.button:hover{
    border-width: 4px;
    border-color: #664638;
    border-radius: 5px;
    background-color: white !important;
    color: #664638;
}

/*footer*/

footer{
    position: relative;
    bottom: 0;
}

.socialLogo{
    width: 40px;
    height: 40px;
}

.footerLogo{
    width: 55px;
    height: 50px;
    border-radius: 5px;
}

.creditLogo{
    width: 65px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
}