body{
    background-image: url(../resources/images/marmol_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mBrown{
    background-color: #664638;
}

.tBrown{
    background-color: #897759;
}

nav{
    height: 70px;
}

#restaurantLogo{
    width: 50px;
    height: 45px;
    border-radius: 10px;
    margin-left: 10px;
}

#navTabs a{
    transition-delay: 0.1s;
    transition-duration: 0.4s;
    transition-property: all;
}

#navTabs a:hover{
    background-color: #897759;
}

#userTabs a{
    transition-delay: 0.1s;
    transition-duration: 0.4s;
    transition-property: all;
}

#userTabs a:hover{
    background-color: #897759;
}


#userLogin{
    width: 40px;
    height: 35px;
}

#shopCart{
    width: 40px;
    height: 35px;
}
