body{
    background-image: url(../resources/images/marmol_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mBrown{
    background-color: #664638;
}

.tBrown{
    background-color: #897759;
}

nav{
    height: 70px;
}

#restaurantLogo{
    width: 50px;
    height: 45px;
    border-radius: 10px;
    margin-left: 10px;
}

#navTabs a{
    transition-delay: 0.1s;
    transition-duration: 0.4s;
    transition-property: all;
}

#navTabs a:hover{
    background-color: #897759;
}

#userTabs a{
    transition-delay: 0.1s;
    transition-duration: 0.4s;
    transition-property: all;
}

#userTabs a:hover{
    background-color: #897759;
}

#userLogin{
    width: 40px;
    height: 35px;
}

#shopCart{
    width: 40px;
    height: 35px;
}


#foodNav nav{
    background-color: #8d5f4c;
    height: 50px;
}

#foodNav nav a{
    transition-delay: 0.1s;
    transition-duration: 0.4s;
    transition-property: all;   
}

#foodNav nav a:hover{
    background-color: white;
    color: #8d5f4c;
}

.foodBar{
    border-bottom-style: solid;
    border-bottom-width: 6px;
    border-color:#664638;
}
/*
.foodImage{
    width: 100px;
    height: 240px;
}
*/

.ordenButton{
    background-color:#664638 !important;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    font-size: 19px;
    border-width: 4px;
    border-color: #664638;
    cursor: pointer;

    transition-delay: 0.15s;
    transition-duration: 0.4s;
    transition-property: all;   
}

.ordenButton:hover{
    border-width: 4px;
    border-color: #664638;
    border-radius: 5px;
    background-color: white !important;
    color: #664638;
}
